---
import { Picture } from 'astro:assets'
import Layout from '../../../layouts/Layout.astro'
import services from '../../../images/services.png'

import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title=`${t('nav.services')} - VRATSKYI`>
    <div class="mx-auto w-full max-w-[1024px]">
    <div class="absolute top-0 left-0 right-0 bottom-0 bg-grid z-[-1]"></div>

    <section class="w-full min-w-full max-w-[1024px] mt-[80px] lg:mt-[150px] rounded-box p-5 lg:p-20 grid overflow-hidden lg:h-svh">
      <div class="grid not-prose p-3 lg:p-0">
        <div class="grid lg:grid-flow-col gap-y-20 lg:gap-y-0 place-content-start place-items-center">
          <div>
    
            <div class="grid gap-y-5 lg:gap-y-0">
              <h1 class="text-7xl font-black">
                <span class="text-gradient-shadow bg-clip-text text-transparent bg-gradient-to-r from-secondary via-primary to-secondary glow-gradient-text">
                  {t('service.hero.title')}
                </span>
              </h1>
          </div>
          <div class="mt-10 grid grid-flow-col gap-y-5">
            <div class="grid">
              <p class="prose lg:prose-lg break-words">
                {t('service.hero.description')}
              </p>
              <p class="prose lg:prose-lg break-words">
                {t('service.hero.subDescription')}
              </p> 
              <h3 class="prose-xl font-bold text-secondary">
                {t('service.hero.afterDescription')}
              </h3>
            </div>
                <div>
                  <Picture class="w-full h-full max-w-[400px] max-h-[400px] object-cover object-center" src={services} alt="services oleksii vratskyi" formats={['avif', 'webp']} width='400' height='400'>
                </div>
            </div>
          </div>
        </div>
      </div>
    
    </section>

    <div class="mx-auto not-prose lg:h-svh text-center grid place-content-center place-items-center">
      <div class="relative isolate">
        <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
          <div class="aspect-[1397/845] w-[38.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.3]" style="clip-path: polygon(85.5% 40.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 87.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%)"></div>
        </div>
        <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
          <div class="aspect-[543/845] w-[35.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.3] rotate-[60deg]" style="clip-path: polygon(85.5% 40.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 87.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%)"></div>
        </div>
      </div>
      <h3 class="text-base font-semibold leading-7 text-primary">{t('service.screen.2.subTitle')}</h3>
      <h2 class="mt-2 text-6xl font-bold tracking-tight">{t('service.screen.2.title')}</h2>
      <p class="mt-6 text-lg leading-8">
        {t('service.screen.2.description')}
      </p>
    </div>

    <div class="py-24 sm:py-32 lg:h-svh grid place-content-center place-items-center">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto mt-16 sm:mt-20 lg:mt-24">
          <div class="text-center mb-24">
            <h2 class="text-6xl font-black tracking-tight not-prose text-primary">{t('service.screen.3.title')}</h2>
          </div>
          <dl class="grid grid-cols-1 gap-x-8 gap-y-10 place-content-stretch lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
              <div class="overflow-hidden isolate relative p-10 rounded-box bg-base-300 not-prose">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-base-100">
                  <svg class="w-8 h-8 inline-block" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M41.4 26.829a3.618 3.618 0 0 0 .699-4.142c-1.356-2.795-3.577-6.44-6.936-9.858a33.503 33.503 0 0 0-9.932-7.004c-1.366-.632-2.98-.32-4.045.744L9.172 18.583a3.62 3.62 0 0 0 0 5.12l5.047 5.047l-7.545 7.544c-1.36 1.36-1.56 3.598-.273 5.027a3.552 3.552 0 0 0 5.155.139l7.686-7.687l5.048 5.047a3.62 3.62 0 0 0 5.119 0zM13.489 14.265l20.238 20.237" />
                  </svg>
              </div>
                <dt class="text-xl font-semibold leading-7 mt-3">
                  {t('service.screen.3.card.1.title')}
              </dt>
              <dd class="mt-2 text-base leading-7">
                {t('service.screen.3.card.1.description')}
              </dd>
            </div>
            <div class="overflow-hidden isolate relative p-10 rounded-box bg-base-300 not-prose">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-base-100">
                <svg class="w-8 h-8 inline-block" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M22.2 4.86L6.69 11.25V27C6.69 35.44 24 43.5 24 43.5S41.31 35.44 41.31 27V11.25L25.8 4.86a4.68 4.68 0 0 0-3.6 0" />
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M30.45 20.7H24v-8.92L17.69 25h6.45v8.92z" />
                </svg>
            </div>
              <dt class="text-xl font-semibold leading-7 mt-3">
                {t('service.screen.3.card.2.title')}
            </dt>
            <dd class="mt-2 text-base leading-7">
              {t('service.screen.3.card.2.description')}
            </dd>
          </div>
          <div class="overflow-hidden isolate relative p-10 rounded-box bg-base-300 not-prose">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-base-100">
              <svg class="w-8 h-8 inline-block" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="10" d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96" />
                <path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="10" d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304Z" />
              </svg>
          </div>
            <dt class="text-xl font-semibold leading-7 mt-3">
              {t('service.screen.3.card.3.title')}
          </dt>
          <dd class="mt-2 text-base leading-7">
            {t('service.screen.3.card.3.description')}
          </dd>
        </div>
        <div class="overflow-hidden isolate relative p-10 rounded-box bg-base-300 not-prose">
          <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-base-100">
            <svg class="w-8 h-8 inline-block" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
              <path fill="none" stroke="currentColor" stroke-width="0.3" d="M4.222 19.778c4.296 4.296 11.26 4.296 15.556 0c4.296-4.296 4.296-11.26 0-15.556c-4.296-4.296-11.26-4.296-15.556 0c-4.296 4.296-4.296 11.26 0 15.556ZM6.343 21.9l4.243-4.242m-8.485 0l4.242-4.243m11.314-2.828l4.242-4.243m-8.485 0l4.243-4.242m-9.9 14.142a6 6 0 1 0 8.486-8.486a6 6 0 0 0-8.486 8.486Zm-5.656-9.9l4.242 4.243m0-8.485l4.243 4.242m2.828 11.314l4.243 4.242m0-8.485l4.242 4.243" />
            </svg>
        </div>
          <dt class="text-xl font-semibold leading-7 mt-3">
            {t('service.screen.3.card.4.title')}
        </dt>
        <dd class="mt-2 text-base leading-7">
          {t('service.screen.3.card.4.description')}
        </dd>
      </div>
          </dl>
        </div>
      </div>
    </div>
    


          <div class="mx-auto sm:text-center not-prose mt-44">
            <h2 class="text-6xl font-black tracking-tight text-primary">{t('service.price.title')}</h2>
            <p class="mt-6 text-lg leading-8 flex flex-col-reverse w-full" set:html={t('service.price.subTitle')}> <a class="link link-primary" href={`/${lang}/terms`}>{t('service.price.subTitle.link')}</a></p>
          </div>

          <div class="mt-10">
            <div role="tablist" class="tabs tabs-bordered">
              <input type="radio" name="my_tabs_1" role="tab" class="tab !w-[180px]" aria-label={t('service.price.tab.1')} checked/>

              <div role="tabpanel" class="tab-content p-10">
                <div class="mb-24">
                  <div class="mx-auto mt-10 p-5 flex-row w-full rounded-box sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
                    <div class="p-8 sm:p-10 grid grid-flow-row isolate relative overflow-hidden rounded-box">
                      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                      </div>
                      <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                      </div>
                      <div>
                        <h2 class="text-4xl font-black tracking-tight not-prose" set:html={t('service.price.card.1.title')}></h2>
                        <p class="mt-6 text-base leading-7" set:html={t('service.price.card.1.description')}></p>
                      </div>
                      <div class="flex items-center gap-x-4">
                        <h4 class="flex-none text-sm font-semibold leading-6 text-primary">{t('service.price.card.1.futures.title')}</h4>
                      </div>
                      <ul role="list" class="grid grid-flow-row gap-4 text-sm leading-6 sm:grid-cols-2 sm:gap-6s">
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.1.futures.description.1')}>{t('service.price.card.1.futures.title.1')}</span>
                        </li>
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.1.futures.description.2')}>{t('service.price.card.1.futures.title.2')}</span>
                        </li>
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom hover:cursor-pointer text-left" data-tip={t('service.price.card.1.futures.description.3')}>{t('service.price.card.1.futures.title.3')}</span>
                        </li>
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.1.futures.description.4')}>{t('service.price.card.1.futures.title.4')}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0 rounded-box">
                      <div class="rounded-box bg-base-300 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                        <div class="mx-auto max-w-xs px-8">
                          <p class="text-base font-semibold">{t('service.price.card.1.beforePrice')}</p>
                          <p class="mt-6 flex items-baseline justify-center gap-x-2">
                            <div class="text-5xl font-bold tracking-tight">
                              <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.1.price.description')}>{t('service.price.card.1.price')}</span>
                              <span class="text-sm font-semibold leading-6 tracking-wide">{t('service.price.card.1.price.currency')}</span>
                            </div>
                          </p>
                          <a href={`/${lang}/contact`} class="mt-10 w-full btn btn-primary">{t('service.price.card.1.price.button')}</a>
                          <p class="mt-6 text-xs leading-5">{t('service.price.card.1.price.cost.description')}</p>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="mx-auto mt-10 p-5 flex-row w-full rounded-box sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
                    <div class="p-8 sm:p-10 grid grid-flow-row isolate relative overflow-hidden rounded-box">
                      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                      </div>
                      <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                      </div>
                      <div>
                        <h2 class="text-4xl font-black tracking-tight not-prose" set:html={t('service.price.card.2.title')}></h2>
                        <p class="mt-6 text-base leading-7" set:html={t('service.price.card.2.description')}></p>
                      </div>
                      <div class="flex items-center gap-x-4">
                        <h4 class="flex-none text-sm font-semibold leading-6 text-primary">{t('service.price.card.2.futures.title')}</h4>
                      </div>
                      <ul role="list" class="grid grid-flow-row gap-4 text-sm leading-6 sm:grid-cols-2 sm:gap-6">
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span>{t('service.price.card.2.futures.title.1')}</span>
                        </li>
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.2.futures.description.2')}>{t('service.price.card.2.futures.title.2')}</span>
                        </li>
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.2.futures.description.3')}>{t('service.price.card.2.futures.title.3')}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0 rounded-box">
                      <div class="rounded-box bg-base-300 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                        <div class="mx-auto max-w-xs px-8">
                          <p class="text-base font-semibold">{t('service.price.card.2.beforePrice')}</p>
                          <p class="mt-6 flex items-baseline justify-center gap-x-2">
                            <div class="text-5xl font-bold tracking-tight">
                              <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.2.price.description')}>{t('service.price.card.2.price')}</span>
                              <span class="text-sm font-semibold leading-6 tracking-wide">{t('service.price.card.2.price.currency')}</span>
                            </div>
                          </p>
                          <a href={`/${lang}/contact`} class="mt-10 w-full btn btn-primary">{t('service.price.card.2.price.button')}</a>
                          <p class="mt-6 text-xs leading-5">{t('service.price.card.2.price.cost.description')}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="w-full max-w-md mx-auto">
                    <div class="divider mt-20"> {t('service.cards.divider')} </div>
                  </div>

                  <div class="mx-auto mt-10 p-5 flex-row w-full rounded-box sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
                    <div class="p-8 sm:p-10 grid grid-flow-row isolate relative overflow-hidden rounded-box">
                      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                      </div>
                      <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                      </div>
                      <div>
                        <h2 class="text-4xl font-black tracking-tight not-prose" set:html={t('service.price.card.3.title')}></h2>
                        <p class="mt-6 text-base leading-7" set:html={t('service.price.card.3.description')}></p>
                      </div>
                      <div class="flex items-center gap-x-4">
                        <h4 class="flex-none text-sm font-semibold leading-6 text-primary">{t('service.price.card.3.futures.title')}</h4>
                      </div>
                      <ul role="list" class="grid grid-flow-row gap-4 text-sm leading-6 sm:grid-cols-2 sm:gap-6">
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span>{t('service.price.card.3.futures.title.1')}</span>
                        </li>
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom">{t('service.price.card.3.futures.title.2')}</span>
                        </li>
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom text-left">{t('service.price.card.3.futures.title.3')}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0 rounded-box">
                      <div class="rounded-box bg-base-300 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                        <div class="mx-auto max-w-xs px-8">
                          <p class="text-base font-semibold">{t('service.price.card.3.beforePrice')}</p>
                          <p class="mt-6 flex items-baseline justify-center gap-x-2">
                            <div class="text-5xl font-bold tracking-tight">
                              <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.3.price.description')}>{t('service.price.card.3.price')}</span>
                              <span class="text-sm font-semibold leading-6 tracking-wide">{t('service.price.card.3.price.currency')}</span>
                            </div>
                          </p>
                          <a href={`/${lang}/contact`} class="mt-10 w-full btn btn-primary">{t('service.price.card.3.price.button')}</a>
                          <p class="mt-6 text-xs leading-5">{t('service.price.card.3.price.cost.description')}</p>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="mx-auto mt-10 p-5 flex-row w-full rounded-box sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
                    <div class="p-8 sm:p-10 grid grid-flow-row isolate relative overflow-hidden rounded-box">
                      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                      </div>
                      <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                      </div>
                      <div>
                        <h2 class="text-4xl font-black tracking-tight not-prose" set:html={t('service.price.card.4.title')}></h2>
                        <p class="mt-6 text-base leading-7" set:html={t('service.price.card.4.description')}></p>
                      </div>
                      <div class="flex items-center gap-x-4">
                        <h4 class="flex-none text-sm font-semibold leading-6 text-primary">{t('service.price.card.4.futures.title')}</h4>
                      </div>
                      <ul role="list" class="grid grid-flow-row gap-4 text-sm leading-6 sm:grid-cols-2 sm:gap-6">
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span>{t('service.price.card.4.futures.title.1')}</span>
                        </li>
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom text-left">{t('service.price.card.4.futures.title.2')}</span>
                        </li>
                        <li class="flex gap-x-3">
                          <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                          </svg>
                         <span class="tooltip tooltip-bottom text-left">{t('service.price.card.4.futures.title.3')}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0 rounded-box">
                      <div class="rounded-box bg-base-300 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                        <div class="mx-auto max-w-xs px-8">
                          <p class="text-base font-semibold">{t('service.price.card.4.beforePrice')}</p>
                          <p class="mt-6 flex items-baseline justify-center gap-x-2">
                            <div class="text-5xl font-bold tracking-tight">
                              <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.4.price.description')}>{t('service.price.card.4.price')}</span>
                              <span class="text-sm font-semibold leading-6 tracking-wide">{t('service.price.card.4.price.currency')}</span>
                            </div>
                          </p>
                          <a href={`/${lang}/contact`} class="mt-10 w-full btn btn-primary">{t('service.price.card.4.price.button')}</a>
                          <p class="mt-6 text-xs leading-5">{t('service.price.card.4.price.cost.description')}</p>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>

              <input type="radio" name="my_tabs_1" role="tab" class="tab !w-[190px]" aria-label={t('service.price.tab.2')} />
              <div role="tabpanel" class="tab-content p-10">
                

                <div class="mx-auto mt-10 p-5 flex-row w-full rounded-box sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
                  <div class="p-8 sm:p-10 grid grid-flow-row isolate relative overflow-hidden rounded-box">
                    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                    </div>
                    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                    </div>
                    <div>
                      <h2 class="text-4xl font-black tracking-tight not-prose" set:html={t('service.price.card.5.title')}></h2>
                      <p class="mt-6 text-base leading-7" set:html={t('service.price.card.5.description')}></p>
                    </div>
                    <div class="flex items-center gap-x-4">
                      <h4 class="flex-none text-sm font-semibold leading-6 text-primary">{t('service.price.card.5.futures.title')}</h4>
                    </div>
                    <ul role="list" class="grid grid-flow-row gap-4 text-sm leading-6 sm:grid-cols-2 sm:gap-6">
                      <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                       <span>{t('service.price.card.5.futures.title.1')}</span>
                      </li>
                      <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                       <span class="tooltip tooltip-bottom text-left">{t('service.price.card.5.futures.title.2')}</span>
                      </li>
                      <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                       <span class="tooltip tooltip-bottom text-left hover:cursor-pointer" data-tip={t('service.price.card.5.futures.description.3')}>{t('service.price.card.5.futures.title.3')}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0 rounded-box">
                    <div class="rounded-box bg-base-300 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                      <div class="mx-auto max-w-xs px-8">
                        <p class="text-base font-semibold">{t('service.price.card.5.beforePrice')}</p>
                        <p class="mt-6 flex items-baseline justify-center gap-x-2">
                          <div class="text-5xl font-bold tracking-tight">
                            <span class="tooltip tooltip-bottom hover:cursor-pointer" data-tip={t('service.price.card.5.price.description')}>{t('service.price.card.5.price')}</span>
                            <span class="text-sm font-semibold leading-6 tracking-wide">{t('service.price.card.5.price.currency')}</span>
                          </div>
                        </p>
                        <a href={`/${lang}/contact`} class="mt-10 w-full btn btn-primary">{t('service.price.card.5.price.button')}</a>
                        <p class="mt-6 text-xs leading-5">{t('service.price.card.5.price.cost.description')}</p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>




          <section class="grid place-content-center lg:h-svh">
            <div class="relative isolate">
              <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                <div class="aspect-[1397/845] w-[38.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.3]" style="clip-path: polygon(85.5% 40.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 87.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%)"></div>
              </div>
              <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                <div class="aspect-[543/945] w-[35.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.3] rotate-[60deg]" style="clip-path: polygon(85.5% 40.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 87.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%)"></div>
              </div>
            </div>
            <div class="grid place-content-center place-items-center gap-y-5">
              <h3 class="text-lg tracking-tight text-primary">{t('service.screen.4.subTitle')}</h3>
              <h2 class="text-7xl font-black tracking-tight not-prose mb-5">{t('service.screen.4.title')}</h2>
              <p class="text-center max-w-4xl">
                {t('service.screen.4.description')}
              </p>
              <a href={`/${lang}/contact`} class="mt-10 btn btn-primary z-10">{t('service.screen.4.button')}</a>
            </div>
          </section>


</div>

</Layout>