---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Socials from './Socials.astro';
import Logo from './Logo.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="footer footer-center py-20 px-10 bg-base-300/10 backdrop-blur-3xl text-base-content rounded z-20 -mt-10">
    <nav class="grid md:grid-flow-col gap-4">
      <a href={`/${lang}/`} class="link link-hover hover:text-primary duration-150">{t('nav.home')}</a>
      <a href={`/${lang}/portfolio`} class="link link-hover hover:text-primary duration-150">{t('nav.portfolio')}</a>
      <a href={`/${lang}/services`} class="link link-hover hover:text-primary duration-150">{t('nav.services')}</a>
      <a href={`/${lang}/about`} class="grid grid-flow-col place-content-stretch hover:text-primary duration-150">{t('nav.about')}</a>
      <a class="link link-hover hover:text-primary duration-150" href={`/${lang}/contact`}>{t('nav.contact')}</a>
      <a class="link link-hover hover:text-primary duration-150" href={`/${lang}/terms`}>{t('nav.terms')}</a>
    </nav>
    <div>
      <a class="btn btn-sm btn-outline btn-primary" href="https://donatello.to/vratskyi" target="_blank">{t('footer.donate')}</a>  
    </div> 
    <div>
      <div class="grid grid-flow-col gap-4">
        <Socials />
      </div>
    </div> 
    <aside>
      <div set:html={t('footer.copyright')}></div>
      <Logo />
    </aside>
  </footer>

  <script data-astro-rerun is:inline>
    document.addEventListener('astro:page-load', () => {
      // Получение текущей даты
      let currentDate = new Date();
      // Извлечение текущего года из объекта даты
      let currentYear = currentDate.getFullYear();
      // Получение элемента по идентификатору
        let yearElement = document.getElementById('currentYear');
        // Проверка существования элемента перед установкой его textContent
        if (yearElement !== null) {
          yearElement.textContent = String(currentYear);
        } else {
          console.error("Element with ID 'currentYear' not found.");
        }
      });
    </script>