---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Socials from './Socials.astro';
import Logo from './Logo.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="footer footer-center py-20 px-10 bg-base-300/10 backdrop-blur-3xl text-base-content z-20 -mt-10">
    <nav class="grid grid-flow-col gap-4">
      <a href={`/${lang}/portfolio`} class="link link-hover hover:text-primary duration-150">{t('nav.portfolio')}</a>
      <a href={`/${lang}/services`} class="link link-hover hover:text-primary duration-150">{t('nav.services')}</a>
      <a href={`/${lang}/about`} class="grid grid-flow-col place-content-stretch hover:text-primary duration-150">{t('nav.about')}</a>
      <a class="link link-hover hover:text-primary duration-150" href={`/${lang}/contact`}>{t('nav.contact')}</a>
    </nav>
    <div>
      <a class="btn btn-sm btn-outline btn-primary" href="https://donatello.to/vratskyi" target="_blank">{t('footer.donate')}
        <svg class="w-6 h-6 inline-block ml-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <path fill="currentColor" d="M2.5 0a.5.5 0 0 1 .5.5c0 .47.274.706.8 1.1l.04.03C4.314 1.985 5 2.498 5 3.5a.5.5 0 0 1-1 0c0-.47-.274-.706-.8-1.1l-.04-.03C2.686 2.015 2 1.502 2 .5a.5.5 0 0 1 .5-.5m3 0a.5.5 0 0 1 .5.5c0 .47.274.706.8 1.1l.04.03C7.314 1.985 8 2.498 8 3.5a.5.5 0 0 1-1 0c0-.47-.274-.706-.8-1.1l-.04-.03C5.686 2.015 5 1.502 5 .5a.5.5 0 0 1 .5-.5M9 .5a.5.5 0 0 0-1 0c0 1.002.686 1.515 1.16 1.87l.04.03c.526.394.8.63.8 1.1a.5.5 0 0 0 1 0c0-1.002-.686-1.515-1.16-1.87L9.8 1.6C9.274 1.206 9 .97 9 .5M13 6h.5a2.5 2.5 0 0 1 0 5h-.707A5.5 5.5 0 0 1 2 9.5V5.891C2 5.4 2.399 5 2.891 5h9.218c.492 0 .891.399.891.891zM3 6v3.5a4.5 4.5 0 1 0 9 0V6zm10 1v2.5c0 .169-.008.335-.022.5h.522a1.5 1.5 0 0 0 0-3z" />
        </svg>
      </a>  
    </div> 
    <div>
      <div class="grid grid-flow-col gap-4">
        <Socials />
      </div>
    </div> 
    <aside>
      <div class="grid gap-y-5">
        <div class="grid md:grid-flow-col gap-y-2 md:gap-x-5 place-items-center">
          <a class="link link-hover hover:text-primary duration-150" href={`/${lang}/terms`}>{t('nav.terms')}</a>
          <a class="link link-hover hover:text-primary duration-150" href={`/${lang}/privacy-policy`}>{t('nav.privacy')}</a>
        </div>
        <div set:html={t('footer.copyright')}></div>
      </div>
      <Logo />
    </aside>
  </footer>

  <script data-astro-rerun is:inline>
    document.addEventListener('astro:page-load', () => {
      // Получение текущей даты
      let currentDate = new Date();
      // Извлечение текущего года из объекта даты
      let currentYear = currentDate.getFullYear();
      // Получение элемента по идентификатору
        let yearElement = document.getElementById('currentYear');
        // Проверка существования элемента перед установкой его textContent
        if (yearElement !== null) {
          yearElement.textContent = String(currentYear);
        } else {
          console.error("Element with ID 'currentYear' not found.");
        }
      });
    </script>